@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1645602885560') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diqiu:before {
  content: "\e60a";
}

.icon-yueyehuaxue:before {
  content: "\e642";
}

.icon-mian_yundong:before {
  content: "\e618";
}

.icon-guanjunjiangbei:before {
  content: "\e65d";
}

